In [1]:
import json
import pandas as pd

## Load data

In [9]:
# Load JSON data from a file
with open('tweets_22072024_2.json') as f:
    data = json.load(f)

# Convert to DataFrame
df = pd.DataFrame(data)

In [10]:
# Display the DataFrame's columns
df.describe()

,created_at,username,Text,Competitor
count,1899,1899,1899,1899
unique,851,477,842,99
top,Tue May 21 19:22:02 +0000 2024,Maximilian Thorwirth,@James_Athletics That’s crazy.,Etienne Daguinos
freq,51,867,51,20